.div-container {
  margin: 0 25px;
}

/* Header */

.header-content {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  z-index: 50;
  background-color: hsl(0deg 2% 16% / 46%);
  box-shadow: 3px 1px 5px #00000069;
}

.button-count {
  display: none;
}

/* Header Menu Toggle */

.menu-toggle {
  width: 35px;
  cursor: pointer;
}

.menu-line {
  height: 5px;
  border-radius: 5px;
  transition: all 0.3s;
  background-color: #fff;
}

.menu-line.-two {
  margin-top: 5px;
  margin-bottom: 5px;
}

.header-nav {
  display: none;
}

/* Menu Toggle Animation */

.menu-toggle.-open .menu-line.-two {
  opacity: 0;
}

.menu-toggle.-open .menu-line.-one {
  transform: rotate(45deg) translate(10px, 6px);
}

.menu-toggle.-open .menu-line.-three {
  transform: rotate(-45deg) translate(8px, -4px);
}

/* Menu Toggle Open */

.header-nav.-open {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000eb;
  z-index: 50;
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.header-nav.-open li {
  font-size: 2rem;
  padding: 10px 25px;
  border-bottom: 1px solid rgba(78, 71, 71, 0.659);
  cursor: pointer;
}

.header-nav.-open a {
  text-decoration: none;
  color: #fff;
}

/* Section Home */

.button-top {
  display: none;
}

.button-top.-active {
  width: 40px;
  z-index: 10;
  position: fixed;
  right: 5%;
  bottom: 2%;
  display: block;
  cursor: pointer;
}

.section-home {
  background: url("../images/backgrounds/diablo-quatro.png") no-repeat;
  background-size: cover;
  background-position: 38% 0;
  padding-top: 100px;
  padding-bottom: 72px;
}

.main-title {
  width: fit-content;
  font-size: 3.5rem;
  color: #fff;
  margin-bottom: 15px;
  line-height: 110%;
}

.main-paragraph {
  width: 280px;
  font-size: 1.6rem;
  line-height: 25px;
  color: #fff;
  margin-bottom: 32px;
}

.main-button {
  padding: 15px 32px;
  border-radius: 8px;
  background: #00aeff;
  margin-bottom: 45px;
  cursor: pointer;
  transition: all .3s;
}

.section-home .main-button a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
}

.main-button:hover {
  background-color: #026fa1;
  transform: scale(1.1);
}

.list-icons {
  display: flex;
  gap: 15px;
}

.list-icons li {
  cursor: pointer;
  filter: grayscale(100%);
  transition: all .3s;
}

.list-icons li.-active {
  filter: grayscale(0%);
  transform: translateY(-5px);
  animation: up-down 1s ease-in-out infinite;
}

@keyframes up-down {
  0% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-3px);
  }
}

.list-icons li:hover {
  filter: grayscale(0%);
  transform: scale(1.3);
}

/* Section Games */

.section-games {
  background-color: #020203;
  color: #fff;
  padding: 50px 0;
}

.section-games .descripiton {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.descripiton p {
  font-size: 1.4rem;
  text-align: center;
  color: skyblue;
}

.second-title {
  width: 170px;
  font-size: 2.8rem;
  line-height: 110%;
}

.div-games {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(145px, 2fr));
  grid-gap: 15px;
}


.card-default {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 260px;
}

.card-default span {
  transition: all .3s;
}

.card-default span:hover {
  transform: scale(1.1);
}


.card-default .-image {
  margin-bottom: 15px;
}

.card-default p {
  font-size: 1rem;
  cursor: pointer;
}

.card-game .game-image {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}

.card-game {
  transition: all .3s;
}

.card-game:hover {
  transform: scale(1.1);
}

.card-game .game-title {
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.card-game .game-category {
  font-size: 1.4rem;
  color: #8d8787;
}

/* Footer Download */

.footer-download {
  padding: 60px 0;
  background: url("../images/backgrounds/section-download-desktop.png") center bottom;
}

.footer-download .logo {
  margin-bottom: 30px;
}

.footer-download .second-title {
  margin-bottom: 30px;
}

.footer-download .list-links li {
  display: flex;
  font-size: 1.8rem;
  margin-bottom: 25px;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.main-button.-download {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-button.-download a {
  font-size: 1.8rem;
  text-decoration: none;
}

.footer-download span {
  display: flex;
  gap: 18px;
}

.footer-download p {
  text-align: left;
  font-size: 2rem;
  line-height: 25px;
}

.footer-download a {
  display: block;
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

/* Media 650px */

.div-buttons {
  display: none;
}

@media (min-width: 600px) {

  .section-home .main-title {
    max-width: 560px;
    font-size: 5rem;
  }

  .section-home .main-paragraph {
    width: 520px;
  }

  .div-buttons {
    display: flex;
    gap: 15px;
  }

  .button-count {
    display: initial;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .3s;
  }

  .button-count:hover {
    transform: scale(1.2);
  }

  .button-count.-singup {
    border: 1px solid #fff;
    background: transparent;
  }

  .button-count.-singup:hover {
    background-color: rgba(42, 189, 42, 0.952);
  }

  .button-count.-login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: skyblue;
  }

}