.div-container {
  margin: 0 25px;
}

/* Header */

.header-content {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  z-index: 5;
  border-bottom: 2px solid rgba(78, 71, 71, 0.659);
}

/* Header Menu Toggle */

.menu-toggle {
  width: 40px;
  cursor: pointer;
}

.menu-line {
  width: 80%;
  height: 5px;
  transition: all .3s;
  background-color: #fff;
}

.menu-line.-two {
  margin-top: 5px;
  margin-bottom: 5px;
}

.header-nav {
  display: none;
}

/* Menu Toggle Animation */

.menu-toggle.-open .menu-line.-two {
  opacity: 0;
}

.menu-toggle.-open .menu-line.-one {
  transform: rotate(45deg) translate(10px, 6px);
}

.menu-toggle.-open .menu-line.-three {
  transform: rotate(-45deg) translate(8px, -4px);
}

/* Menu Toggle Open */

.header-nav.-open {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000000eb;
  z-index: 5;
  animation: slide-in 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.header-nav.-open li {
  font-size: 2rem;
  padding: 10px 25px;
  border-bottom: 1px solid rgba(78, 71, 71, 0.659);
  cursor: pointer;
}

.header-nav.-open a {
  text-decoration: none;
  color: #fff;
}

/* Section Home */

.section-home.-background{
  background: url(../../images/backgrounds/banner-mulher-grande.png) no-repeat;
  background-size: cover;
  background-position: 35% 0;
}

.section-home {
  padding-top: 100px;
  padding-bottom: 65px;
}

.main-title {
  font-size: 4rem;
  color: #fff;
  margin-bottom: 15px;
  line-height: 50px;
}

.main-paragraph {
  font-size: 1.8rem;
  line-height: 25px;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 32px;
}

.main-button {
  padding: 15px 32px;
  font-size: 1.5rem;
  color: #fff;
  border-radius: 8px;
  background:#00AEFF;
  margin-bottom: 45px;
}

.list-icons {
  display: flex;
  gap: 15px;
}